.st0 {
    fill: #58585A;
}

.st1 {
    font-family: 'Arial';
    font-weight: bold;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    font-family: 'Arial';
}

.st4 {
    font-size: 24;
}

.device {
    cursor: pointer;
}

.device-bg {
    fill: #9FEE00;
}

.device-screen {
    fill: #FFFFFF;
}

.cbl-def {
    fill: #FFFFFF;
}

.cbl-dat {
    fill: #9FEE00;
}

.cbl-nok {
    fill: #FF0000;
}
