.st0 {
    fill: #58585A;
}

.st1 {
    font-family: 'Arial';
    font-weight: bold;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    font-family: 'Arial';
}

.st4 {
    font-size: 24;
}

.device {
    cursor: pointer;
}

.device-bg {
    fill: #9FEE00;
}

.device-screen {
    fill: #FFFFFF;
}

.numpad-key {
    fill: #A2A2A6;
    cursor: pointer;
}

/* Indicates that this key may be chosen/selected */
.numpad-key-active {
    fill: #58585A;
}

/* This key was chosen as a slot time */
.numpad-key-chosen {
    fill: #9FEE00;
}

/* This key was manually selected to be a slot time */
.numpad-key-selected {
    fill: #B30000;
}

.cbl-def {
    fill: #FFFFFF;
}

.cbl-dat {
    fill: #9FEE00;
}

.cbl-nok {
    fill: #FF0000;
}
